.vscode/c_cpp_properties.json
.vscode/settings.json
**/.DS_Store
build
satoffee/debug_custom.json
satoffee/debug.cfg
satoffee/debug.svd
firmware/boot_app0.bin
firmware/satoffee.ino.bin
firmware/satoffee.ino.bootloader.bin
firmware/satoffee.ino.partitions.bin